@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.cont1 {
  padding: 25px 60px 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "nav nav nav nav" "div1 div1 div2 div2";
  background-image: -webkit-gradient(linear, left top, right top, from(#060339), color-stop(#312d65), color-stop(#5d5893), color-stop(#8b86c5), to(#bbb7f9));
  background-image: linear-gradient(to right, #060339, #312d65, #5d5893, #8b86c5, #bbb7f9);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 88%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 88%, 0 0);
  height: 80vh;
}

@media (max-width: 600px) {
  .cont1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#282384), color-stop(#4f46a1), color-stop(#726abe), color-stop(#9690dc), to(#bbb7f9));
    background-image: linear-gradient(to bottom, #282384, #4f46a1, #726abe, #9690dc, #bbb7f9);
    padding: 10px 10px 0 10px;
  }
}

.cont1 .navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .cont1 .navbar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.cont1 .navbar .buttons .btn1 {
  border: none;
  background: none;
  color: white;
}

.cont1 .navbar .buttons .btn2 {
  border: none;
  background: #05d69b;
  color: white;
  height: 25px;
  width: 75px;
  font-weight: 700;
  border-radius: 3px;
}

.cont1 .heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: div1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 100px;
}

@media (max-width: 600px) {
  .cont1 .heading {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
}

.cont1 .heading h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-size: 30px;
}

.cont1 .heading button {
  border: none;
  background: #05d69b;
  color: white;
  border-radius: 3px;
  height: 35px;
  width: 150px;
}

.cont1 .img1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: div2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 100px;
}

@media (max-width: 600px) {
  .cont1 .img1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.cont1 .img1 img {
  height: 300px;
}

@media (max-width: 600px) {
  .cont1 .img1 img {
    width: 80%;
    height: 100%;
  }
}

.cont2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 70px;
      grid-template-areas: "top top top" "img-box box1 box2" "img-box box3 box4" "bbox bbox bbox";
  padding: 0 60px 0 60px;
}

@media (max-width: 600px) {
  .cont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cont2 h1 {
  font-family: "Raleway", sans-serif;
}

.cont2 p {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

.cont2 .top-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: top;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.cont2 .top-box h1 {
  font-size: 2rem;
  text-transform: capitalize;
}

.cont2 .img-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img-box;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.cont2 .img-box img {
  max-width: 100%;
  height: auto;
}

.cont2 .box1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box1;
}

.cont2 .box2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: box2;
}

.cont2 .box3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: box3;
}

.cont2 .box4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: box4;
}

.cont2 .bottom-box {
  padding-top: 100px;
  padding-bottom: 50px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bbox;
  text-align: center;
  max-width: 65%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 600px) {
  .cont2 .bottom-box {
    max-width: 100%;
  }
}

.cont2 .bottom-box h1 {
  font-size: 2rem;
  text-transform: capitalize;
}

.cont2 .bottom-box p {
  color: #282384;
}

@media (max-width: 600px) {
  .cont2 .bottom-box .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cont2 .bottom-box .form button {
  border: none;
  background: #05d69b;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 120px;
}

@media (max-width: 600px) {
  .cont2 .bottom-box .form button {
    width: 100%;
    height: 35px;
  }
}

.cont2 .bottom-box .form input[type="text"] {
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  height: 27px;
  width: 40%;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .cont2 .bottom-box .form input[type="text"] {
    width: 99%;
    margin-bottom: 20px;
    height: 35px;
  }
}

.cont3 {
  background: #060339;
  -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%, 0 0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 3fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
  color: white;
  font-size: 14px;
  padding: 120px 60px 70px 60px;
}

@media (max-width: 600px) {
  .cont3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cont3 .nav-bottom {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.cont3 .top {
  font-weight: 700;
  line-height: 40px;
}

.cont3 .wrapper1 {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 600px) {
  .cont3 .wrapper1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.cont3 .wrapper1 .small-icons {
  height: 11px;
  padding-right: 10px;
}

.cont3 .wrapper2 {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 600px) {
  .cont3 .wrapper2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.cont3 .wrapper2 ul {
  list-style-type: none;
  border-left: 1px solid white;
  margin: 0;
}

@media (max-width: 600px) {
  .cont3 .wrapper2 ul {
    border: none;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

.cont3 .wrapper2 ul li {
  line-height: 21px;
}

@media (max-width: 600px) {
  .cont3 .wrapper2 ul li {
    line-height: 25px;
  }
}

.cont3 .wrapper3 {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 600px) {
  .cont3 .wrapper3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.cont3 .wrapper3 ul {
  list-style-type: none;
  margin: 0;
}

@media (max-width: 600px) {
  .cont3 .wrapper3 ul {
    padding-left: 0;
    padding-bottom: 40px;
  }
}

.cont3 .wrapper3 ul li {
  line-height: 21px;
}

@media (max-width: 600px) {
  .cont3 .wrapper3 ul li {
    line-height: 25px;
  }
}

.cont3 .wrapper4 {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 600px) {
  .cont3 .wrapper4 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.cont3 .wrapper4 ul {
  list-style-type: none;
  border-right: 1px solid white;
  padding-right: 40px;
  margin: 0;
}

@media (max-width: 600px) {
  .cont3 .wrapper4 ul {
    border: none;
    padding-left: 0;
    padding-bottom: 90px;
  }
}

.cont3 .wrapper4 ul li {
  line-height: 21px;
}

@media (max-width: 600px) {
  .cont3 .wrapper4 ul li {
    line-height: 25px;
  }
}

.cont3 .wrapper4 ul li span {
  display: inline-block;
}

.cont3 .wrapper5 {
  -ms-grid-column-align: center;
      justify-self: center;
  padding-left: 60px;
  padding-right: 40px;
}

@media (max-width: 600px) {
  .cont3 .wrapper5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    padding: 0 0 40px 0;
  }
}

.cont3 .wrapper5 h1 {
  font-size: 12px;
}

.cont3 .wrapper5 .form2 {
  text-align: right;
}

.cont3 .wrapper5 .form2 input[type="text"] {
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  height: 27px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

.cont3 .wrapper5 .form2 button {
  border: none;
  background: #05d69b;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 140px;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */